{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lingerie store{% endblock %}</title>
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Lingerie store</a>
    </div>
    <div id="subheader">
        <div class="cart">
            Ваша корзина пуста
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>